header {
    position: sticky;
    top:0;
    padding:40px;
    background: lightblue;
    text-align: center;
}

body {
    background-image: url("market/public/css/cat.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    position: absolute;
    height: 30px;
    width: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
